<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
        // 상품 QnA 본문 내용 가져오기
        function getQnaDetail(boardId){
            $.ajax({
                type:'GET',
                url : '/api/productQnA?boardId='+boardId,
                contentType : "text/html",
                dataType : "html",
                success : function (result) {
                    $('#qna_detail_'+boardId).replaceWith(result);
                },
                error: function (){
                    console.log("ProductQnA ( id : "+boardId+" ) 조회 Ajax 실패");
                }
            })
        }
</script>
<body>
    <div id="qna-list">
        <div class="qna_table_container">
            <table class="qna_table">
                <tbody>
                    <!-- list 반복부분 -->
                    <!-- 절대적 정렬 기준 : 1)최신순 2)답변 안된것 -->
                    <th:block th:each="qna : ${productQnAList}">
                    <tr class="qna_row">
                        <td class="qna_row_num"></td><!-- 정렬기준에 따른 글번호 -->
                        <!-- th:if 사용 -->
                        <td class="qna_tit real_writer" th:if="${user.userrole}=='USER_ADMIN' or ${user.userId}==*{}" sec:authorize="isAuthenticated()"><!-- 계정 정보 확인 & 자기가 쓴 글만 열 수 있도록 -->
                            <!-- 자기가 쓴 글 아이콘 : X ( img 태그 자체를 랜더링 X ) / 남이 쓴 글 : 자물쇠 아이콘 -->
                            <button class="btn_qna_open" th:onclick="|javascript:getQnaDetail(${qna.boardId})|">
                                <span>상품 결제 문의입니다.</span><!-- qna 글 제목 -->
                            </button>
                        </td>
                        <td class="qna_tit not_writer" th:if="${user.userId} != *{}" sec:authorize="isAuthenticated()">
                            <a class="" onclick="return false;" >
                                <img src="https://e7.pngegg.com/pngimages/684/453/png-clipart-padlock-line-lock-icon-black-and-white-line.png">
                                <span>상품 결제 문의입니다.</span><!-- qna 글 제목 -->
                            </a>
                        </td>
                        <td class="qna_tit not_writer" sec:authorize="isAnonymous()">
                            <a class="" onclick="return false;" >
                                <img src="https://e7.pngegg.com/pngimages/684/453/png-clipart-padlock-line-lock-icon-black-and-white-line.png">
                                <span>상품 결제 문의입니다.</span><!-- qna 글 제목 -->
                            </a>
                        </td>

                        <td class="qna_writer"><span></span></td><!-- 닉네임 -->
                        <td class="qna_date"><span></span></td><!-- 등록 일자 -->
                        <td class="qna_result"><span></span></td><!-- 답변 완료 여부 (미답변 / 답변완료) -->
                    </tr>
                    <!-- qna 상세 내용 view : 권한 있을 때, 행 밑으로 qna 페이지 열릴 수 있도록 -->
                    <tr class="qna_detail" th:id="|qna_detail_${qna.boardId}|">
                    </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>