<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/login/logincontent.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
         $("#header").load("/html/header/header2.html")

         $("#footer").load("/html/footer/footer2.html")
   
      });

      function homepage(){location.href = '/join'}

      function login(){document.login.submit()}

      function findusername(){location.href = '/findusername'}

      function findpassword(){location.href = '/findpassword'}

    </script>   
    <title>Document</title>
</head>
<body>
<div class="firstbarwrap">
    <div class="firstbar">
        <a href="/login" class="firstbarlink" th:if="${session.loginMember == null}">LOGIN</a>
        <a href="/logout" class="firstbarlink" th:if="${session.loginMember != null}">LOGOUT</a>
        <a href="/join" class="firstbarlink" th:if="${session.loginMember == null}">JOIN</a>
        <span class="firstbarlink" th:if="${session.loginMember != null}" th:text="|${session.loginMember.userName}님 환영합니다.|">JOIN</span>
    </div>
</div>
    <div id="header"></div>
    <div id='wrapper'>
        <div class="loginwrapper">
            <h2>로그인</h2>
            <div class="loginbox">
                <h3>회원 로그인
                    <form action="/login" method="post" name="login">
                <div class="login_input_sec">
                    <div>
                        <input type="text" placeholder="아이디" id="loginid" th:field="${User.userName}">
<!--                        <span th:errors="${User.userName}"></span>-->
                        <input type="password" placeholder="패스워드" id="loginpassword" th:field="${User.password}">
<!--                        <span th:errors="${User.password}"></span>-->
                    </div>
                    <button type="submit" onclick="login()">로그인</button>
                    </form>
                    <div class="btn_login_box">
                        <th:block th:object="${User}">
                            <span th:if="${#fields.hasGlobalErrors()}">
                                <div class="errorcheck" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</div>
                            </span>
                        </th:block>
                        <ul>
                            <li>
                                <button type="button" class="btn_member_join" onclick="homepage()" >회원가입</button>
                            </li>
                            <li>
                                <button type="button" class="btn_member_idpassword" onclick="findusername()">아이디찾기</button>
                            </li>
                            <li>
                                <button type="button" class="btn_member_idpassword" onclick="findpassword()">비밀번호찾기</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>