<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/mypageproduct.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#header").load("/header/header2.html")

        $("#footer").load("/footer/footer2.html")
      });
    </script>   
    <title>Document</title>
</head>
<body>
    <div class="firstbarwrap">
        <div class="firstbar">
            <a href="/login" class="firstbarlink" th:if="${session.loginMember == null}">LOGIN</a>
            <a href="/login" class="firstbarlink" th:if="${session.loginMember != null}">LOOUT</a>
            <a href="/join" class="firstbarlink" th:if="${session.loginMember == null}">JOIN</a>
            <span class="firstbarlink" th:if="${session.loginMember != null}" th:text="|${session.loginMember.userName}님 환영합니다.|">JOIN</span>
        </div>
    </div>
    <div id="header"></div>
    <div id='wrapper'>
        <div class="mypage_wrapper">
            <div class="mypage_sidebar mt60">
                <div class="mypage_sidebar_content">
                    <h2>마이 페이지</h2>
                    <ul class="mypage_sidebar_submenu">
                        <li>
                            쇼핑정보
                            <ul class="mypage_sidebar_submenu1">
                                <li>
                                    <a href="#">-주문목록/배송조회</a>
                                </li>
                                <li>
                                    <a href="#">-취소/반품/교환 내역</a>
                                </li>
                                <li>
                                    <a href="#">-환불/입금 내역</a>
                                </li>
                                <li>
                                    <a href="#">-찜리스트</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            고객센터
                            <ul class="mypage_sidebar_submenu2">
                                <li>
                                    <a href="#">-1:1 문의</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            회원정보
                            <ul class="mypage_sidebar_submenu3">
                                <li>
                                    <a href="#">-회원정보 변경</a>
                                </li>
                                <li>
                                    <a href="#">-회원 탈퇴</a>
                                </li>
                                <li>
                                    <a href="#">-배송지 관리</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            나의 상품문의
                            <ul class="mypage_sidebar_submenu4">
                                <li>
                                    <a href="#">-나의 상품문의</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mypage_maincontent pt60">
                <div class="maincontent">
                    <div class="board_zone_sec">
                        <div class="board_zone_tit">
                            <h2>상품문의</h2>
                        </div>
                        <div class="board_zone_cont">
                            <div class="board_list_qa">
                                <table class="board_list_table" style="width:100%">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:15%">
                                        <col>
                                        <col style="width:10%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>문의날짜</th>
                                            <th>상품번호</th>
                                            <th>제목</th>
                                            <th>문의상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td colspan="5">게시글이 존재하지않습니다.</td>
                                        </tr> -->
                                        <tr>
                                            <td>
                                                22-09-18
                                            </td>
                                            <td>
                                                1574205
                                            </td>
                                            <td>
                                                <a href="#">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</a>
                                            </td>
                                            <td>
                                                답변대기
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                22-09-18
                                            </td>
                                            <td>
                                                1574205
                                            </td>
                                            <td>
                                                <a href="#">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</a>
                                            </td>
                                            <td>
                                                답변대기
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                22-09-18
                                            </td>
                                            <td>
                                                1574205
                                            </td>
                                            <td>
                                                <a href="#">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</a>
                                            </td>
                                            <td>
                                                답변대기
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                22-09-18
                                            </td>
                                            <td>
                                                1574205
                                            </td>
                                            <td>
                                                <a href="#">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</a>
                                            </td>
                                            <td>
                                                답변대기
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="btn_right_box">
                            <button type="button" class="btn_write">문의 하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script type="text/javascript" src="/js/mypage/mypageproduct.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>