<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/mypagewishlist.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
         $("#header").load("/html/header/header2.html")
         $("#footer").load("/html/footer/footer2.html")
        $(".mypage_sidebar").load("/html/sidebar/sidebar.html")
      });
    </script>   
    <title>Document</title>
</head>
<body>
    <div class="firstbarwrap">
        <div class="firstbar">
            <a href="/login" class="firstbarlink" th:if="${session.loginMember == null}">LOGIN</a>
            <a href="/login" class="firstbarlink" th:if="${session.loginMember != null}">LOOUT</a>
            <a href="/join" class="firstbarlink" th:if="${session.loginMember == null}">JOIN</a>
            <span class="firstbarlink" th:if="${session.loginMember != null}" th:text="|${session.loginMember.userName}님 환영합니다.|">JOIN</span>
        </div>
    </div>
    <div id="header"></div>
    <div id='wrapper'>
        <div class="mypage_wrapper">
            <div class="mypage_sidebar mt60">
            </div>
            <div class="mypage_maincontent pt60">
                <div class="maincontent">
                    <div class="mypage_main">
                        <div class="mypage_lately_goods">
                            <div class="mypage_zone_tit">
                                <h1>찜 목록</h1>
                            </div>
                            <div class="goods_list">
                                <ul>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000746_main_080.jpg">
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">
                    
                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000744_main_047.jpg">
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 배혜정도가 로아 19도 화이트세트_화이트,옐로 각1병
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">
                    
                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">26,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="sold_out_gif">
                                                    <img src="/image/icon_soldout.gif">
                                                </div>
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000746_main_080.jpg">
                                                        <div>
                                                            <strong class="item_sold_out">
                        
                                                            </strong>
                                                        </div>
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">
                    
                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000746_main_080.jpg">
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">
                    
                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="sold_out_gif">
                                                    <img src="/image/icon_soldout.gif">
                                                </div>
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000746_main_080.jpg">
                                                        <div>
                                                            <strong class="item_sold_out">

                                                            </strong>
                                                        </div>
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">

                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="sold_out_gif">
                                                    <img src="/image/icon_soldout.gif">
                                                </div>
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img src="/image/1000000746_main_080.jpg">
                                                        <div>
                                                            <strong class="item_sold_out">

                                                            </strong>
                                                        </div>
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">

                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script type="text/javascript" src="/js/mypage/mypagewishlist.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>