<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
         $("#header").load("/html/header/header2.html")

         $("#footer").load("/html/footer/footer2.html")
      });
    </script>   
    <title>Document</title>
</head>
<body>
    <div class="firstbarwrap">
        <div class="firstbar">
            <a href="/login" class="firstbarlink" th:if="${session.loginMember == null}">LOGIN</a>
            <a href="/login" class="firstbarlink" th:if="${session.loginMember != null}">LOOUT</a>
            <a href="/join" class="firstbarlink" th:if="${session.loginMember == null}">JOIN</a>
            <span class="firstbarlink" th:if="${session.loginMember != null}" th:text="|${session.loginMember.userName}님 환영합니다.|">JOIN</span>
        </div>
    </div>
    <div id="header"></div>
    <div id='wrapper'>
        <div class="mypage_wrapper">
            <div class="mypage_sidebar mt60">
                <div class="mypage_sidebar_content">
                    <h2>마이 페이지</h2>
                    <ul class="mypage_sidebar_submenu">
                        <li>
                            쇼핑정보
                            <ul class="mypage_sidebar_submenu1">
                                <li>
                                    <a href="/mypageorderlist">-주문목록/배송조회</a>
                                </li>
                                <li>
                                    <a href="#">-취소/반품/교환 내역</a>
                                </li>
                                <li>
                                    <a href="#">-환불/입금 내역</a>
                                </li>
                                <li>
                                    <a href="#">-찜리스트</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            고객센터
                            <ul class="mypage_sidebar_submenu2">
                                <li>
                                    <a href="/mypage1vs1">-1:1 문의</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            회원정보
                            <ul class="mypage_sidebar_submenu3">
                                <li>
                                    <a href="/userinformationupadte">-회원정보 변경</a>
                                </li>
                                <li>
                                    <a href="/userwithdrawal">-회원 탈퇴</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            나의 상품문의
                            <ul class="mypage_sidebar_submenu4">
                                <li>
                                    <a href="#">-나의 상품문의</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mypage_maincontent pt60">
                <div class="maincontent">
                    <div class="mypage_main">
                        <div class="mypage_top_info">
                            <div class="mypage_top_txt">
                                <span class="grade_img"><img src="/image/ico_member_upload1.jpg"></span>
                                <div class="grade_txt">
                                    <p>오인석님의</p>
                                    <p>회원등급은
                                    <span>정회원등급</span>
                                    입니다.
                                    </p>
                                </div>
                            </div>
                            <div class="mypage_top_wallet">
                                <ul>
                                    <li>
                                        <span><img src="/image/icon_coupon.png"></span>
                                        <em>쿠폰</em>
                                        <strong>0</strong>
                                        장
                                    </li>
                                    <li>
                                        <span><img src="/image/icon_mileage.png"></span>
                                        <em>마일리지</em>
                                        <strong>0</strong>
                                        원
                                    </li>
                                    <li>
                                        <span><img src="/image/icon_balance.png"></span>
                                        <em>예치금</em>
                                        <strong>0</strong>
                                        원
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mypage_order_info">
                            <div class="mypage_zone_tit">
                                <h3>진행중인 주문
                                <span>최근 30일 내에 진행중인 주문정보입니다.</span>
                                </h3>
                            </div>
                            <div class="mypage_order_info_cont">
                                <ol>
                                    <li>
                                        <b>입금대기</b>
                                        <strong th:text="${statusTypeCountList[0]}">0</strong>
                                    </li>
                                    <li>
                                        <b>결제완료</b>
                                        <strong th:text="${statusTypeCountList[1]}">0</strong>
                                    </li>
                                    <li>
                                        <b>배송준비중</b>
                                        <strong th:text="${statusTypeCountList[2]}">0</strong>
                                    </li>
                                    <li>
                                        <b>배송중</b>
                                        <strong th:text="${statusTypeCountList[3]}">0</strong>
                                    </li>
                                    <li>
                                        <b>배송완료</b>
                                        <strong th:text="${statusTypeCountList[4]}">0</strong>
                                    </li>
                                    <li>
                                        <b>구매확정</b>
                                        <strong th:text="${statusTypeCountList[5]}">0</strong>
                                    </li>
                                </ol>
                                <div class="order_case_list">
                                    <ul>
                                        <li>
                                            <b>• 취소</b>
                                            <span>0건</span>
                                        </li>
                                        <li>
                                            <b>• 교환</b>
                                            <span>0건</span>
                                        </li>
                                        <li>
                                            <b>• 환불</b>
                                            <span>0건</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                <h3>최근 주문 정보
                                <span>최근 5건의 주문하신 내역입니다.</span>
                                </h3>
                            </div>
                            <a href="/mypageorderlist" class="btn_board_more">+ 더보기</a>
                            <div class="mypage_table_type">
                                <table>
                                    <colgroup>
                                        <col width="17.5%">
                                        <col>
                                        <col width="17.5%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                날짜/주문번호
                                            </th>
                                            <th>
                                                상품명/옵션
                                            </th>
                                            <th>
                                                상품금액/수량
                                            </th>
                                            <th>
                                                주문상태
                                            </th>
                                            <th>
                                                확인/리뷰
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${orderFormList == null}">
                                            <td colspan="6">
                                                <p class="no_data">
                                                    조회내역이 없습니다.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr th:if="${orderFormList != null}" th:each="orderForm : ${orderFormList}">
                                            <td th:text="|${orderForm.orderdate} / ${orderForm.orderId}|">
                                                22-09-21/219394
                                            </td>
                                            <td>
                                                <img th:src="${orderForm.OrderLatelyProductDto[0].imagepath}">
                                                <span class="product_name" ><a href="#" th:text="|${orderForm.OrderLatelyProductDto[0].productname} 외 ${(orderForm.OrderLatelyProductDto.size)-1}건|">배혜정도가 외 23건</a></span>
                                            </td>
                                            <td th:text="|${{orderForm.OrderLatelyProductDto[0].price}}원/${orderForm.OrderLatelyProductDto[0].quantity}개|">

                                            </td>
                                            <td th:text="${orderForm.status}">
                                                배송상태
                                            </td>
                                            <td>
                                                안녕
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mypage_lately_goods">
                            <div class="mypage_zone_tit">
                                <h3>최근 본 상품
                                <span>회원님께서 최근 본 상품입니다.</span>
                                </h3>
                            </div>
                            <div class="goods_no_data" th:if="${productDtoList == null}">
                                <strong>
                                    최근 본 상품이 존재하지않습니다.
                                </strong>
                            </div>
                            <div class="goods_list" th:if="${productDtoList != null}">
                                <ul>
                                    <li th:each="productDto : ${productDtoList}">
                                        <div class="item_content">
                                            <div class="item_content_wrap_wrap">
                                                <div class="sold_out_gif" th:if="${productDto.quantity == 0}">
                                                    <img src="/image/icon_soldout.gif">
                                                </div>
                                                <div class="item_img">
                                                    <a href="#">
                                                        <img th:src="${productDto.imagepath}">
                                                        <div th:if="${productDto.quantity == 0}">
                                                            <strong class="item_sold_out">

                                                            </strong>
                                                        </div>
                                                    </a>
                                                    <div class="item_info_content">
                                                        <div class="item_tit_box">
                                                            <a href="#">
                                                                <strong class="item_name" th:text="${productDto.productname}">
                                                                    술마켓 안동소주 일품세트17도,21도,40도,샷잔 증정
                                                                </strong>
                                                            </a>
                                                        </div>
                                                        <div class="mt10">
                    
                                                        </div>
                                                        <div class="item_price_box">
                                                            <strong class="item_price" th:text="|${{productDto.price}}원|">31,000원</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script type="text/javascript" src="mypage.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>