<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hiccup.hiccupstore.product.dao.ProductMapper">
<!-- Result Map : Product / ProductImage / ProductForView -->
    <resultMap id="ProductResult" type="hiccup.hiccupstore.product.dto.Product">
        <result column="productId"  property="productId"/>
        <result column="categoryId"  property="categoryId"/>
        <result column="productName"  property="productName"/>
        <result column="price"  property="price"/>
        <result column="quantity"  property="quantity"/>
        <result column="alcoholContent"  property="alcoholContent"/>
        <result column="brand"  property="brand"/>
        <result column="description"  property="description"/>
        <result column="sellCount" property="sellCount"/>
    </resultMap>
    <resultMap id="ProductImage" type="hiccup.hiccupstore.product.dto.ProductImage">
        <result column="imageId"  property="imageId"/>
        <result column="productId"  property="productId"/>
        <result column="imageName" property="imageName"/>
        <result column="imagePath" property="imagePath"/>
        <result column="imageType" property="imageType"/>
    </resultMap>
    <resultMap id="ProductViewResult" type="hiccup.hiccupstore.product.dto.ProductForView">
        <result column="productId"  property="productId"/>
        <result column="productName"  property="productName"/>
        <result column="price"  property="price"/>
        <result column="quantity"  property="quantity"/>
        <result column="sellCount" property="sellCount"/>
        <result column="reviewCount" property="reviewCount"/>
        <result column="pickCount" property="pickCount"/>
        <result column="imgPath" property="imgPath"/>
    </resultMap>

<!-- INSERT -->
    <!-- Product 테이블 -->
    <insert id="insertProduct" parameterType="hiccup.hiccupstore.product.dto.Product">
        insert into product
        values (#{productId},
                #{categoryId},
                #{productName},
                #{price},
                #{quantity},
                #{alcoholContent},
                #{brand},
                #{description},
                #{sellCount})
    </insert>
    <!-- ProductImage 테이블 -->
    <insert id="insertProductImage" parameterType="hiccup.hiccupstore.product.dto.ProductImage">
        insert into product_image
        values (#{imageId},
                #{productId},
                #{imageName},
                #{imagePath},
                #{iamgeType})
    </insert>


<!-- UPDATE -->
    <!-- Product 수정 -->
    <update id="updateProduct" parameterType="hiccup.hiccupstore.product.dto.Product">
        UPDATE product
        SET productName = #{productName},
            price = #{price},
            quantity = #{quantity},
            alcoholContent = #{alcoholContent},
            brand = #{brand},
            description = #{description},
            sellCount = #{sellCount}
        WHERE productId = #{productId} and categoryId = #{categoryId}
    </update>
    <!-- ProductImage 수정 -->
    <update id="updateProductImage" parameterType="hiccup.hiccupstore.product.dto.ProductImage">
        UPDATE product_image
        SET imageName = #{imageName},
            imagePath = #{imagePath}
        WHERE productId = #{productId} and imageType LIKE  '%'+#{imageType}+'%'
    </update>


<!-- DELETE -->
    <!-- Product 삭제 -->
    <delete id="deleteProduct" parameterType="Integer">
        delete from product
        where productId = #{productId}
    </delete>

    <!-- ProductImage 삭제 -->
    <delete id="deleteProductImage" parameterType="Integer">
        delete from product_image
        where imageId = #{imageId}
    </delete>


<!-- SELECT -->
    <select id="selectById" resultMap="ProductResult" parameterType="Integer">
        SELECT *
        FROM product
        WHERE productId = #{productId}
    </select>

    <!-- Product 클래스에 @NoArgsConstructor 애노테이션이 있기 때문에 Select 부분적으로 해도 문제 X -->
    <select id="selectByCategory" resultType="hiccup.hiccupstore.product.dto.Product" parameterType="int">
        SELECT product.productid, product.productname, product_image.imagePath
        FROM product
        LEFT JOIN product_image ON product.productId = product_image.productId
        WHERE product.productId = #{productId} and product_image.imageType = 'product' and product.categoryId = #{categoryId}
    </select>

    <select id="selectByPriceRange" resultMap="ProductSelectResult" parameterType="int" >
        SELECT product.productid, product.productname, product_image.imagePath
        FROM product
        LEFT JOIN product_image ON product.productId = product_image.productId
        <if test="p == 4">
            WHERE product.productId = #{param1} and product_image.imageType = 'product' and product.price >= 40000
        </if>
        <if test="p != 4">
            WHERE product.productId = #{param1} and product_image.imageType = 'product' and product.price BETWEEN (#{priceRange}*10000) AND (#{priceRange}*10000)+9999
        </if>
        ORDER BY COUNT(SELECT boardid FROM board WHERE productid = #{productId})
    </select>
    <select id="selectByName" resultMap="ProductSelectResult" parameterType="String">
        SELECT product.productid, product.productname, product_image.imagePath
        FROM product
                 LEFT JOIN product_image ON product.productId = product_image.productId
        WHERE product.productId = #{productId} and product_image.imageType = 'product'
        <include refid ="sort"/>
    </select>

    <!--
        SELECT productid, productname, product
        FROM product
        WHERE  ~~~
        <include refid ="sort"/>
    -->

    <!-- 상세 검색 페이지 : 정렬 parameter 처리 동적 sql -->
    <sql id="sort">
        <if test="sort == null">
            ORDER BY productname
        </if>
        <if test="sort == 'rate'">
            ORDER BY sellcount DESC
        </if>

        <if test="sort == 'review'">
              DESC
        </if>

        <if test="sort == 'pick'">
            ORDER BY
                (SELECT COUNT(pickproductid) FROM user_pickproduct WHERE productid = #{productId})
                DESC
        </if>

        <if test="sort == 'low'">
            ORDER BY price
        </if>
        <if test="sort == 'high'">
            ORDER BY price DESC
        </if>
    </sql>


</mapper>