<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hiccup.hiccupstore.user.dao.UserMapper">
    <insert id="save" parameterType="hiccup.hiccupstore.user.dto.UserDto">
        insert into user (userid,userName ,nickName ,address ,email ,birth ,phone ,password)
        values(#{userId},#{userName} ,#{nickName} ,#{address} ,#{email} ,#{birth} ,#{phone} ,#{password})
    </insert>
    <insert id="saveOrder" parameterType="hiccup.hiccupstore.user.dto.OrderDto">
        insert into user_order (orderid,userid,status,orderdate,address)
        values(#{orderid},#{userid},#{status},#{orderdate},#{address})
    </insert>
    <select id="getTest"  resultType="hiccup.hiccupstore.user.dto.TestDto">
        SELECT nickname,status
        FROM user
        INNER JOIN user_order
        ON user.userId = user_order.userId
    </select>
    <select id="getOrderLatelyProductList"  resultType="hiccup.hiccupstore.user.dto.OrderLatelyProductDto">
        SELECT user_order.orderId,orderdate,order_product.productid,productname,price,order_product.quantity,status,imagepath
        FROM user
        INNER JOIN user_order
        ON user.userId = user_order.userId
        INNER JOIN order_product
        ON user_order.orderid = order_product.orderid
        INNER JOIN product
        ON product.productid = order_product.productid
        INNER JOIN product_image
        ON product_image.productid = order_product.productid
    </select>
    <select id="getProductList"  resultType="hiccup.hiccupstore.user.dto.ProductDto" parameterType="java.util.ArrayList">
        SELECT product.productid,categoryid,productname,price,quantity,alcoholContent,brand,description,imagepath
        FROM product
        INNER JOIN product_image
        ON product_image.productid = product.productid
        WHERE product.productid IN
        <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>